@model IEnumerable<_5101_Assign3_SchoolDB_WillMidgette.Models.Teacher>
@{
    ViewBag.Title = "List";
}

<h2>List of Teachers</h2>
<p>Search from teachers using the following search function or </p>
<!-- The following is a search option that takes a teacher's first name, teacher id, and employee number
//and passes the information to the TeacherController, then the TeacherDataController, and returns 
//a specific teacher's information in the Search view. I realize if a searcher knows the teacher's ID
//it is pretty redundant to enter the first name and empnumber but I just wanted to show how I would go 
//about taking multiple inputs-->
<form action="/Teacher/List" method="GET">
    <div>
        <label for="searchKey"> First Name:</label>
        <input type="text" id="searchKey" name="searchKey" />
    </div>
    <input type="submit" />

</form>

<!--Lists each teacher as a link to a show view with more information about that teacher -->
@foreach (var teacher in Model)
{
   <div><a href="/teacher/show/@teacher.TeacherId">@teacher.TeacherFname @teacher.TeacherLname</a></div>
}