@model IEnumerable<_5101_Assign3_SchoolDB_WillMidgette.Models.Teacher>
@{
    ViewBag.Title = "List";
}

<h2>List of Teachers</h2>
<p>Search from teachers using the following search function or </p>

<!--Add teacher link added to list view - redirects to Add view-->
<a href="/teacher/add">Add a teacher</a>
<form action="/Teacher/List" method="GET">
    <div>
        <label for="searchKey"> First Name:</label>
        <input type="text" id="searchKey" name="searchKey" />
    </div>
    <input type="submit" />

</form>

<!--Lists each teacher as a link to a show view with more information about that teacher -->
@foreach (var teacher in Model)
{
   <div><a href="/teacher/show/@teacher.TeacherId">@teacher.TeacherFname @teacher.TeacherLname</a></div>
}