@model _5101_Assign3_SchoolDB_WillMidgette.Models.Teacher
@{
    ViewBag.Title = "Show";
}

<h2>Show Teacher</h2>
<!-- Accesses properties of the model passed from the teachercontroller-->
<p>Teacher Name:@Model.TeacherFname @Model.TeacherLname </p>
<p>Teacher ID:@Model.TeacherId </p>
<p>EmployeeNumber:@Model.EmployeeNumber </p>
<p>HireDate:@Model.HireDate</p>
<a href="/teacher/list">Back</a>
<!--option to delete teacher from database - this button is to redirect to the confirm page via the 
<a href="/teacher/confirmdelete/@Model.TeacherId" style="float:right; color:red;">DELETE</a>
